<div class="container my-4">
  <h1><%= @restaurant.name  %></h1>

  <%# <%= link_to edit_restaurant_path, class:"btn btn-secondary mb-4" do %>
    <%# <div class="btn btn-secondary d-flex align-items-center p-0">
      <i class="fa-solid fa-pen-to-square"></i>
      <p class="m-0 py-0 px-1">Edit</p>
    </div> %>
  <%# <% end %>

  <div class="card mb-4 p-2">
    <p>Category : <%= @restaurant.category  %></p>
    <p>Address : <%= @restaurant.address  %></p>
    <p>Phone number: <%= @restaurant.phone_number %></p>
    <% rating = 0 %>
    <% @restaurant.reviews.each do |review| %>
      <% rating += review.rating %>
    <% end %>
    <% if @restaurant.reviews.count != 0 %>
      <% mean_rating = rating/(@restaurant.reviews.count) %>
    <% else %>
      <% mean_rating = 0 %>
    <% end %>
    <p>Mean rating: <%= mean_rating %> <%= '⭐' * mean_rating %></p>
  </div>

  <ul class="list-group mb-4 list-group-flush">
    <h3>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item list-group-item-action list-group-item-light"><%= review.content %> | Rating: <%= review.rating %> <%= '⭐' * review.rating %></li>
    <% end %>
  </ul>

  <hr>
  <div class="container">
    <h3>Leave a review!</h3>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: 1..5 %>
      <%= f.submit class:'btn btn-primary' %>
    <% end %>
  </div>

  <hr>
  <%= link_to restaurants_path, class:"btn btn-primary p-0 mt-4" do %>
    <div class="btn btn-primary d-flex align-items-center">
      <i class="fa-solid fa-rotate-left"></i>
      <p class="m-0 py-0 px-1">Back to restaurants</p>
    </div>
  <% end %>

</div>
