<div class="container mt-4">
  <h1><%= @restaurant.name  %></h1>

  <%= link_to edit_restaurant_path, class:"btn btn-secondary mb-4" do %>
    <div class="btn btn-secondary d-flex align-items-center p-0">
      <i class="fa-solid fa-pen-to-square"></i>
      <p class="m-0 py-0 px-1">Edit</p>
    </div>
  <% end %>

  <div class="card mb-4 p-2">
    <p>Category : <%= @restaurant.category  %></p>
    <p>Address : <%= @restaurant.address  %></p>
  </div>

  <ul class="list-group mb-4 list-group-flush">
    <h3>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item list-group-item-action list-group-item-light"><%= review.content %> | Rating: <%= review.rating %></li>
    <% end %>
  </ul>

  <%= link_to 'Review', new_restaurant_review_path(@restaurant), class:'btn btn-primary' %> |
  <%= link_to 'Back to restaurants', restaurants_path, class:'btn btn-primary' %>
</div>
